.base-btn-wrap {
    .base-btn {
        border: none;
        margin: 0;
        display: inline-block;
        text-align: center;
        transition: color 0.1s linear, background-color 0.1s linear;

        &.blue {
            background: $primary-blue;
            color: $white;
        }
    }
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
}