.header {
  background: #ccc;
  position: relative;
  z-index: 1000;

  .logo {
    display: table-cell;
    height: 90px;
    vertical-align: middle;

    img {
      max-height: 44px;
      height: auto;
      width: auto;
      max-width: 100%;
    }
  }

  .main-menu {

    .toggle-menu {
      display: none;
    }

    li {
      position: relative;

      &:hover {
        & > a {
          color: $primary-black;
        }

        & > .sub-menu {
          opacity: 1;
          left: 0;
        }
      }

      a {
        &.current-menu-item {
          color: $primary-black;
        }
      }
    }

    a {
      color: $primary-blue;
      display: block;
    }

    .sub-menu {
      position: absolute;
      left: -999999px;
      top: 100%;
      width: 200px;
      background: #000;

      li {
        float: none;

        &:hover {
          & > .sub-menu {
            left: 100%;
          }

        }
      }

      .sub-menu {
        top: 0;
      }
    }

    /*> ul {
      > li {
        &:last-child,
        &:nth-last-child(2),
        &:nth-last-child(3) {
          &:hover > .sub-menu {
            left: auto;
            right: 0;
          }

          .sub-menu {
            li {
              &:hover > .sub-menu {
                left: -100%;
              }
            }
          }
        }
      }
    }*/
  }

  @media screen and (max-width: 767px) {
    position: relative;

    .mobile-menu {
      width: 100%;
      opacity: 0;
      transition: opacity $transition-time ease-out;
      clear: both;

      a {
        overflow: hidden;
        height: 0;
        display: block;
        transition: height $transition-time ease-out;
      }

      &.show {
        opacity: 1;

        a {
          height: 20px;
        }
      }
    }
  }
}