.login-form {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;

    form {
        position: relative;
        background: #e1e1e1;
        padding: 30px; 
        max-width: 400px;
        width: 100%;
        border-radius: 4px;
    }

    .input-wrap {
        padding: 10px 0;
    }

    input {
         width: 100%;
         height: 50px;
         padding: 0 20px;
    }

    .base-btn-wrap {
        text-align: center;
        padding: 20px 0 0;
    }
    .base-btn {
        padding: 10px 5px;
        width: 100%;
    }
}