.fade-appear,
.fade-enter {
  opacity: 0;
}

.fade-appear-active,
.fade-enter-active {
  transition: opacity .3s linear;
  opacity: 1;
}

.fade-exit {
  transition: opacity 0s linear;
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
}