//------------------------------------------------------
//--- Font Family :: [Vollkorn] :: Regular ---
//------------------------------------------------------
@font-face {
    font-family: 'VollkornRegular';
    src: url('../fonts/vollkorn-regular.eot');
    src: url('../fonts/vollkorn-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vollkorn-regular.woff2') format('woff2'),
         url('../fonts/vollkorn-regular.woff') format('woff'),
         url('../fonts/vollkorn-regular.ttf') format('truetype'),
         url('../fonts/vollkorn-regular.svg#vollkornregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
