@mixin clear-list-style {
    list-style: none; 
    padding: 0; 
    margin: 0; 
}

@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}