body, 
html { 
    margin: 0; 
    padding: 0; 
    outline: none; 
    min-width: 320px; 
}
body { 
    color: $base-color; 
    font: #{$font-size}/#{$line-height} #{$base-font}, Helvetica, Arial, sans-serif; 
}
p, img { 
    margin: 0; 
    padding: 0; 
}
h1, 
h2, 
h3, 
h4,
h5, 
h6 { 
    font-weight: normal; 
    padding: 0; 
    margin: 0; 
}
button, 
a { 
    outline: none; 
    -webkit-outline: none; 
    -moz-outline: none; 
}
a {
    transition: color 0.1s linear;
    color: $primary-blue;
    text-decoration: none; 

    &:focus {
        color: $primary-blue;
    }

    &:hover {
        color: $primary-black;
    }

    &:hover, 
    &:focus {
        text-decoration: none; 
        outline: none !important;
    }

    img { 
        border: 0; 
        display: block; 
        outline: none; 
        -webkit-outline: none; 
        -moz-outline: none; 
    }
}
img { 
    max-width: 100%; 
    height: auto; 
}
input[type="text"], 
input[type="email"], 
input[type="password"], 
input[type="number"], 
textarea, 
select { 
    font: #{$font-size}/#{$line-height} #{$base-font}, Helvetica, Arial, sans-serif; 
    border-radius: 0; 
    outline: none; 
    -webkit-appearance: none; 
    box-shadow: none; 
    border: none; color: $base-color; 

    &:focus {
        box-shadow: none; 
    }
}
input,
textarea {
    &::-webkit-input-placeholder { 
        opacity: 1; 
        color: #999; 
    }
    &:-ms-input-placeholder { 
        opacity: 1; 
        color: #999; 
    }
    &:-moz-placeholder { 
        opacity: 1; 
        color: #999; 
    }
    &::-moz-placeholder { 
        opacity: 1; 
        color: #999; 
    }
}
