// Colors
$primary-black: #1a1a1a;
$primary-blue: #009bd8;
$white: #fff;

// Fonts
$base-font: 'OpenSans';


// Global
$browser-context: 18; 
$base-color: $primary-black;
$font-size: #{$browser-context}px;
$line-height: 25px;
$transition-time: 0.2s;
